body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  border: 2px solid red;
  flex-direction: row;
}
.lefthandside {
  display: flex;
  flex-grow: 1;
  flex-basis: 100px;
  background-color: blueviolet;
}
.righthandside {
  display: flex;
  flex-grow: 10;
  flex-basis: 200px;
}
